.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color:firebrick;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 4rem;
}

button {
  width:275px;
  height: 50px;
  border-radius: 5px;
  box-shadow: gray 0px 3px 8px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
button:hover {
  background: black;
  color: #fff;
}

